@font-face {
    font-family: "Color Emoji";
    src: local("Apple Color Emoji"), local("Segoe UI Emoji"), local("Segoe UI Symbol"), local("Noto Color Emoji")
}

:root {
    --font-family: -apple-system, BlinkMacSystemFont, system-ui, sans-serif, 'Color Emoji';
    --main-width: 720px;
    --font-size: 16px;
    --border-radius-small: 8px;
    --border-radius-normal: 12px;
    --border-radius-card: 16px;
    --border-radius-large: 24px;
    --color-scheme: #fff;
    --title-color: #202122;
    --font-color: #2a2b2c;
    --nav-color: #82a0be;
    --link-color: #2d8cdc;
    --link-hover-color: #1877f2;
    --note-color: #9a9a9a;
    --border-color: #eaeaea;
    --sec-note-color: #6e6e6e;
    --sec-border-color: #a9a9a9;
    --highlight-color: #f2f3f4;
    --book-color: #2a973a;
    --movie-color: #4169E1;
    --tv-color: #1e90ff;
    --anime-color: #f09199;
    --game-color: #2f4f4f;
    --site-nav-bg: rgba(223, 223, 225, .5);
    --box-shadow-small: 0 1px 5px rgba(33, 33, 33, .1);
    --box-shadow-normal: 0 2px 6px rgba(33, 33, 33, .2);
    --box-shadow-card: 0 5px 10px rgba(33, 33, 33, .3);
    --box-shadow-large: 0 5px 15px rgba(33, 33, 33, .1);
    --transition-effect: cubic-bezier(.4, 0, .25, 1) 0ms
}

@media (prefers-color-scheme:dark) {
    :root {
        --color-scheme: #1a1c1b;
        --title-color: #f2f2f2;
        --font-color: #e3e3e3;
        --note-color: #c2c2c2;
        --border-color: #323433;
        --highlight-color: #2d2f2e;
        --sec-color: #2a2c2b;
        --sec-note-color: #cfcfcf;
        --sec-border-color: #bdbdbd;
        --site-nav-bg: rgba(0, 0, 0, .3);
        --box-shadow-small: none;
        --box-shadow-normal: none;
        --box-shadow-card: none;
        --box-shadow-large: none
    }
}

*,
::after,
::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body {
    background-color: var(--color-scheme);
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: 1.6;
    color: var(--font-color)
}

h1,
h2,
h3,
h4 {
    color: var(--title-color)
}

h1 {
    font-size: 32px
}

h2 {
    font-size: 26px
}

h3 {
    font-size: 24px
}

li,
ul {
    list-style: none;
    margin: 0;
    padding: 0
}

a {
    color: var(--link-color);
    text-decoration: none
}

a:hover {
    color: var(--link-hover-color);
    text-decoration: none
}

a.no-color {
    color: inherit
}

a.underline {
    text-decoration: underline
}

label {
    color: var(--sec-note-color);
    margin-right: 6px
}

input,
select,
textarea {
    font-family: var(--font-family);
    font-size: 16px;
    color: var(--font-color);
    background-color: var(--color-scheme);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-small)
}

input {
    width: 100%;
    height: 32px;
    padding: 2px 8px
}

input:read-only {
    color: var(--note-color)
}

input:focus,
textarea:focus {
    box-shadow: var(--box-shadow-small);
    outline: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: none;
}

input[type="file"] {
    font-size: 14px;
    border: 0;
    max-width: 50%
}

input[type="file"]::file-selector-button {
    font-size: 14px;
}

select {
    min-width: 80px;
    padding: 4px 8px;
    font-size: 14px;
}

textarea {
    width: 100%;
    min-height: 100px;
    padding: 10px 15px
}

button {
    font-size: 14px;
    padding: 6px 12px;
    margin-top: 10px;
    color: #fff;
    border: 0;
    cursor: pointer;
    background-color: var(--link-color);
    border-radius: var(--border-radius-small);
    transition: all .25s var(--transition-effect)
}

button:hover {
    background-color: var(--link-hover-color);
    box-shadow: var(--box-shadow-normal)
}

header,
main,
footer {
    max-width: var(--main-width)
}

header {
    position: sticky;
    margin: 60px auto 30px;
    top: 30px;
    z-index: 10;
}

footer {
    margin: 50px auto
}

.padding-0 {
    padding: 0 !important;
}

.note-color {
    margin: 5px 0 !important;
    color: var(--note-color) !important
}

.header-container {
    display: flex;
    align-items: center;
    margin: auto;
    width: fit-content;
    height: 42px;
    border-radius: 28px;
    overflow: hidden;
    background-color: var(--site-nav-bg);
    -webkit-backdrop-filter: saturate(180%)blur(20px);
    backdrop-filter: saturate(180%)blur(20px);
}

.site-nav {
    display: flex;
    align-items: center;
    padding: 5px;
    text-align: center;
}

.site-nav-link {
    color: var(--font-color);
    min-width: 50px;
    margin: 0 2px;
    padding: 6px 10px;
    border-radius: var(--border-radius-large);
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    word-break: keep-all;
}

.site-nav-link:hover {
    color: var(--link-hover-color)
}

.site-nav-search {
    display: flex;
    margin-right: 10px;
    cursor: pointer;
}

.nav-active {
    color: var(--link-hover-color);
    background-color: var(--color-scheme);
    box-shadow: var(--box-shadow-large)
}
    
main {
    margin: 0 auto;
    min-height: 300px
}

.page-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    margin: 30px 0;
    font-size: 26px;
    font-weight: 600;
    color: var(--note-color);
    text-align: center;
    letter-spacing: 1px
}

.page-heading h1,
.page-heading h2 {
    margin: 0;
    font-size: inherit;
    color: inherit;
}

.page-heading a {
    color: var(--title-color)
}

.page-toolbar {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0 15px;
    font-size: 14px;
}

.page-func {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.page-filter li {
    display: inline-block;
    margin-right: 10px
}

.page-filter a {
    color: var(--sec-note-color)
}

.page-filter a.active {
    font-weight: 600
}

.home-section .page-heading {
    column-gap: 0;
    justify-content: space-between
}

.home-add {
    font-size: 14px;
    visibility: hidden;
    opacity: 0;
    transition: all .25s var(--transition-effect)
}

.home-section .page-heading:hover .home-add {
    visibility: visible;
    opacity: 1
}

.home-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-bottom: 20px;
    padding: 0
}

.home-item {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between
}

.home-item-cover {
    position: relative;
    width: 120px;
    height: 175px;
    border-radius: var(--border-radius-normal);
    box-shadow: var(--box-shadow-normal);
    overflow: hidden
}

.home-item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .25s var(--transition-effect)
}

.home-item:hover .home-item-img {
    -webkit-transform: scale(1.02);
    transform: scale(1.02)
}

.home-item-name {
    width: 85%;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    margin: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.item-badge {
    height: 40px;
    width: 40px;
    position: absolute;
    right: -20px;
    top: -20px;
    background-color: #f70;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 2
}

.subject-list-item {
    height: 175px;
    border-bottom: 1px solid var(--border-color);
    padding: 15px 0;
    line-height: 1.5
}

.subject-list-item:last-child {
    border-bottom: 0
}

.subject-list-cover {
    float: left;
    width: 100px;
    height: 144px;
    margin-right: 20px;
    border-radius: var(--border-radius-small);
    box-shadow: var(--box-shadow-normal);
    overflow: hidden
}

.subject-list-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.subject-list-info p {
    margin: 5px 0;
    font-size: 14px;
    color: var(--sec-note-color)
}

.subject-list-title {
    font-size: 14px;
    font-weight: 400;
    margin: 0
}

.subject-list-alttitle {
    font-size: 12px;
    margin-left: 5px
}

.subject-list-pub {
    margin: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.subject-list-null {
    margin: 100px 0 !important;
    text-align: center;
}

.subject-card h2 {
    margin: 0;
    font-size: 22px;
    color: #fff;
}

.subject-card p {
    margin: 5px 0;
    line-height: 1.5
}

.subject-card label,
.subject-card span {
    vertical-align: middle
}

.subject-card label {
    color: #e1e1e3;
}

.subject-card span {
    color: #f1f1f3;
}

.subject-card .note-color {
    color: #d1d1d3 !important;
}

.subject-card {
    position: relative;
    background-color: var(--highlight-color);
    border-radius: var(--border-radius-large);
    box-shadow: var(--box-shadow-normal);
    overflow: hidden
}

.subject-card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover
}

.subject-info {
    display: flex;
    padding: 40px;
    word-break: break-all;
    background-color: rgba(33, 33, 33, .3);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px)
}

.subject-cover {
    width: 200px;
    margin-right: 30px;
    height: 100%;
    border-radius: var(--border-radius-normal);
    box-shadow: var(--box-shadow-card)
}

a.subject-outlink {
    display: inline;
    font-size: 12px;
    padding: 2px 4px;
    color: #fff;
    border: none;
    border-radius: 6px;
    word-break: keep-all;
    white-space: nowrap
}

.link-douban {
    background-color: var(--book-color)
}

.link-bangumi {
    background-color: var(--anime-color)
}

.subject-intro-title {
    font-size: 20px;
    font-weight: 600;
    margin: 40px 0 10px
}

.subject-comment,
.subject-summary {
    white-space: pre-wrap
}

.subject-manage {
    line-height: 35px;
    margin-top: 30px
}

.subject-delete {
    cursor: pointer;
    color: var(--sec-note-color);
    display: inline
}

.subject-delete label {
    color: var(--link-color);
    cursor: pointer
}

#delete-button,
.subject-delete span {
    display: none
}

#confirm_delete:checked+#delete-button,
#confirm_delete:checked+#delete-button+span {
    display: inline;
    margin-top: 0
}

.edit-page .subject-info {
    padding: 0;
    background: none;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
}

.edit-cover {
    margin-top: 15px;
}

.edit-detail label {
    font-size: 14px;
    min-width: 94px
}

.edit-detail p {
    display: flex;
    align-items: center
}

.edit-select {
    display: flex;
    flex-wrap: wrap
}

.edit-select-list {
    margin-right: 15px;
    margin-bottom: 5px
}

.edit-select-list:last-child {
    margin-right: 0
}

.edit-upload {
    font-size: 14px;
    margin-top: 20px
}

.cancel-link {
    font-size: 14px;
    margin-left: 15px
}

.add-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 120px;
    height: 175px;
    box-shadow: none;
    border: 2px dashed var(--sec-border-color);
    border-radius: var(--border-radius-normal);
    cursor: pointer
}

.home-item input[type=radio]:checked+label .add-selection {
    box-shadow: var(--box-shadow-card);
    border-style: solid;
    background-color: var(--highlight-color);
    transition: all .25s ease
}

.add-pre label {
    flex: unset;
    min-width: 65px
}

.add-pre .note-color {
    font-size: 14px
}

.footer-links a {
    color: var(--note-color)
}

.footer-links a:hover {
    color: var(--note-color);
    text-decoration: underline
}

.page-nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 50px 0;
    font-size: 15px;
    color: var(--sec-note-color);
}

.pagination a {
    color: var(--sec-note-color);
}

.pagination-number,
.pagination-current,
.pagination-disable {
    padding: 5px 10px;
}

.pagination-text {
    padding: 0
}

.pagination-current {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-small)
}

.pagination-disable {
    color: var(--note-color);
    user-select: none
}

.pagination-jump input {
    width: 40px;
    height: 30px
}

.icon-mirror svg {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
}

.search-box-container {
    display: flex;
    width: 0;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--color-scheme);
    opacity: 0;
    transition: .4s var(--transition-effect);
}

#search-toggle:checked + label + .search-box-container {
    width: 100%;
    opacity: 1;
    z-index: 2;
}

.search-icon-toggle {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    cursor: pointer;
    z-index: 3;
}
  
.search-icon-toggle .circle {
    position: absolute;
    width: 12px;
    height: 12px;
    border: 2px solid var(--font-color);
    border-radius: 50%;
    top: 40%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: all 0.4s ease;
    box-sizing: border-box;
}
  
.search-icon-toggle .handle {
    position: absolute;
    width: 8px;
    height: 2px;
    background: var(--font-color);
    top: 50%;
    left: 50%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transform-origin: left center;
    transition: all 0.4s ease;
    box-sizing: border-box;
}

#search-toggle:checked + label .circle {
    width: 16px;
    height: 2px;
    border: none;
    top: 11px;
    left: 2px;
    border-radius: 0;
    background: var(--font-color);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
  
#search-toggle:checked + label .handle {
    width: 16px;
    height: 2px;
    top: 16.5px;
    left: 4px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 42px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-large);
    transition: box-shadow .25s var(--transition-effect)
}

.search-bar:hover {
    box-shadow: var(--box-shadow-large)
}

.search-select,
.sort-select {
    min-width: 40px;
    margin-right: 10px;
    padding: 0;
    border: none;
    border-radius: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3csvg xmlns%3d%27http%3a//www.w3.org/2000/svg%27 width%3d%278%27 height%3d%274%27 viewBox%3d%270 0 10 5%27%3e%3cpath fill%3d%27%236e6e6e%27 d%3d%27M0 0l5 5 5-5z%27/%3e%3c/svg%3e');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 8px 4px;
    cursor: pointer
}

.search-select {
    min-width: 40px;
    visibility: hidden;
    opacity: 0;
}

.sort-select {
    min-width: 70px;
}

.search-bar:hover .search-select {
    visibility: visible;
    opacity: 1;
}

.search-select:focus {
    outline: none;
}

.search-input {
    margin-left: 15px;
    border: 0;
    background: 0 0
}

.search-input:focus {
    box-shadow: none
}

.search-button {
    height: 32px;
    min-width: 55px;
    margin: 5px 40px 5px 5px;
    border-radius: var(--border-radius-large);
    cursor: pointer
}

.search-cover {
    position: relative;
}

.rating-star-00,
.rating-star-05,
.rating-star-10,
.rating-star-15,
.rating-star-20,
.rating-star-25,
.rating-star-30,
.rating-star-35,
.rating-star-40,
.rating-star-45,
.rating-star-50 {
    display: inline-block;
    background: url(/static/rating-star.png) no-repeat;
    background-size: cover;
    width: 75px;
    height: 15px;
    margin: 0;
    overflow: hidden
}

.rating-star-00 {
    background-position: 0 -150px
}

.rating-star-05 {
    background-position: 0 -135px
}

.rating-star-10 {
    background-position: 0 -120px
}

.rating-star-15 {
    background-position: 0 -105px
}

.rating-star-20 {
    background-position: 0 -90px
}

.rating-star-25 {
    background-position: 0 -75px
}

.rating-star-30 {
    background-position: 0 -60px
}

.rating-star-35 {
    background-position: 0 -45px
}

.rating-star-40 {
    background-position: 0 -30px
}

.rating-star-45 {
    background-position: 0 -15px
}

.rating-star-50 {
    background-position: 0 0
}

.rating-block {
    display: block
}

@media (max-width:760px) {
    main,
    footer {
        padding: 0 10px
    }

    .site-nav-link {
        margin: 0
    }

    .home-list {
        grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    }

    .home-list li {
        width: 100%;
        float: unset
    }

    .home-item-cover {
        width: 110px;
        height: 160px
    }

    .add-selection {
        width: 110px;
        height: 160px
    }

    .subject-cover {
        margin-right: 20px;
        width: 160px
    }
}

@media (max-width:480px) {
    .site-nav-link {
        padding: 6px 5px
    }

    .home-list {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }

    .home-item-cover {
        width: 105px;
        height: 150px
    }

    .subject-info {
        flex-direction: column
    }

    .subject-cover {
        margin: 0 auto 20px auto
    }
    
    .subject-list-cover {
        margin-right: 15px
    }
}