{{ define "main" }}
<main>
    <h2 class="page-title">添加条目</h2>
    <p>1. 选择添加的类型:</p>
    <form id="mediaForm" action="/add" method="POST">
        <div class="home-list">
            <div class="home-item">
                <input type="radio" id="book" name="subject_type" value="book" {{if eq .SubjectType "book" }}checked{{end}} hidden>
                <label for="book">
                    <div class="home-item-cover add-selection">
                        <img src="/static/icons/icon-book.svg" alt="book" width="50" height="50">
                        <div class="home-item-name note-color">图书</div>
                    </div>
                </label>
            </div>
        
            <div class="home-item">
                <input type="radio" id="movie" name="subject_type" value="movie" {{if eq .SubjectType "movie" }}checked{{end}} hidden>
                <label for="movie">
                    <div class="home-item-cover add-selection">
                        <img src="/static/icons/icon-movie.svg" alt="movie" width="50" height="50">
                        <div class="home-item-name note-color">电影</div>
                    </div>
                </label>
            </div>
        
            <div class="home-item">
                <input type="radio" id="tv" name="subject_type" value="tv" {{if eq .SubjectType "tv" }}checked{{end}} hidden>
                <label for="tv">
                    <div class="home-item-cover add-selection">
                        <img src="/static/icons/icon-tv.svg" alt="tv" width="50" height="50">
                        <div class="home-item-name note-color">剧集</div>
                    </div>
                </label>
            </div>
        
            <div class="home-item">
                <input type="radio" id="anime" name="subject_type" value="anime" {{if eq .SubjectType "anime" }}checked{{end}} hidden>
                <label for="anime">
                    <div class="home-item-cover add-selection">
                        <img src="/static/icons/icon-anime.svg" alt="anime" width="50" height="50">
                        <div class="home-item-name note-color">番剧</div>
                    </div>
                </label>
            </div>

            <div class="home-item">
                <input type="radio" id="game" name="subject_type" value="game" {{if eq .SubjectType "game" }}checked{{end}} hidden>
                <label for="game">
                    <div class="home-item-cover add-selection">
                        <img src="/static/icons/icon-game.svg" alt="game" width="50" height="50">
                        <div class="home-item-name note-color">游戏</div>
                    </div>
                </label>
            </div>
        </div>
        <div class="edit-detail add-pre">
            <p>2. 尝试自动获取数据:</p>
            <p>
                <label for="external_url">链接地址:</label>
                <input type="text" id="external_url" name="external_url">
            </p>
            <p class="note-color">从 Douban 导入链接格式如下:</p>
            <p class="note-color">- 图书: https://book.douban.com/subject/xxxxxx</p>
            <p class="note-color">- 游戏: https://www.douban.com/game/xxxxxx</p>
            <p class="note-color">- 其他: https://movie.douban.com/subject/xxxxxx</p>
            <p class="note-color">从 Bangumi 导入链接格式如下:</p>
            <p class="note-color">- 通用: https://bgm.tv/subject/xxxxxx</p>
            <p class="note-color">* 链接中请不要添加多余参数，如需手动添加留空即可。</p>
        </div>
        <button type="submit">下一步</button>
    </form>
</main>
{{ end }}