{{ define "main" }}
<main>
    <div class="page-heading">
        <div class="page-title">
            <img src="/static/icons/icon-{{ .Category }}.svg" alt="{{ .Category }}" width="28" height="28">
            <a class="no-color" href="/{{ .Category }}">{{ .PageTitle }} ({{ .StatusCounts.All }})</a>
            <a class="no-color" href="/add?subject_type={{ .Category }}" title="添加">
                <svg xmlns="http://www.w3.org/2000/svg" clip-rule="evenodd" viewBox="0 0 24 24" width="24" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" fill="currentColor"><path d="M17.5 11c2.484 0 4.5 2.016 4.5 4.5S19.984 20 17.5 20 13 17.984 13 15.5s2.016-4.5 4.5-4.5zm.5 4v-1.5c0-.265-.235-.5-.5-.5s-.5.235-.5.5V15h-1.5c-.265 0-.5.235-.5.5s.235.5.5.5H17v1.5c0 .265.235.5.5.5s.5-.235.5-.5V16h1.5c.265 0 .5-.235.5-.5s-.235-.5-.5-.5H18zm-6.479 1c.043.522.153 1.025.321 1.5H2.75a.75.75 0 0 1 0-1.5zm1.106-4c-.328.456-.594.96-.785 1.5H2.75a.75.75 0 0 1 0-1.5zM20 8.75a.75.75 0 0 0-.75-.75H2.75a.75.75 0 0 0 0 1.5h16.5a.75.75 0 0 0 .75-.75zm0-4a.75.75 0 0 0-.75-.75H2.75a.75.75 0 0 0 0 1.5h16.5a.75.75 0 0 0 .75-.75z" fill-rule="nonzero"/></svg>
            </a>
        </div>
        <div class="page-func">
            <form method="get">
                <label for="sort_by">排序: </label>
                <select class="sort-select" name="sort_by" onchange="this.form.submit()">
                    <option value="1"{{ if eq .SortBy 1 }} selected{{ end }}>最近添加</option>
                    <option value="2"{{ if eq .SortBy 2 }} selected{{ end }}>最近标记</option>
                    <option value="3"{{ if eq .SortBy 3 }} selected{{ end }}>最早添加</option>
                    <option value="4"{{ if eq .SortBy 4 }} selected{{ end }}>最早标记</option>
                </select>
                <input type="hidden" name="page"  value="{{ .CurrentPage }}">
                <input type="hidden" name="status" value="{{ .Status }}">
            </form>
        </div>
    </div>

    <div class="subject-status-filter">
        <li><a href="/{{.Category}}?status=1" class="{{ if eq .Status 1 }}active{{ end }}">{{ printf "想%s" .StatusType }}</a>({{ .StatusCounts.Todo }})</li>
        <li><a href="/{{.Category}}?status=2" class="{{ if eq .Status 2 }}active{{ end }}">{{ printf "在%s" .StatusType }}</a>({{ .StatusCounts.Doing }})</li>
        <li><a href="/{{.Category}}?status=3" class="{{ if eq .Status 3 }}active{{ end }}">{{ printf "%s过" .StatusType }}</a>({{ .StatusCounts.Done }})</li>
        <li><a href="/{{.Category}}?status=4" class="{{ if eq .Status 4 }}active{{ end }}">搁置</a>({{ .StatusCounts.OnHold }})</li>
        <li><a href="/{{.Category}}?status=5" class="{{ if eq .Status 5 }}active{{ end }}">抛弃</a>({{ .StatusCounts.Dropped }})</li>
    </div>

    <ul class="subject-list">
        {{ range .Subjects }}
        <li class="subject-list-item">
            <div class="subject-list-cover">
                <a href="{{ .SubjectURL }}">
                    <img class="subject-list-image" src="{{ .ImageURL }}" alt="{{ .Title }}" loading="lazy">
                </a>
            </div>
            <div class="subject-list-info">
                <h3 class="subject-list-title">
                    <a href="{{ .SubjectURL }}">{{ .Title }}</a>
                    {{ with .AltTitle }}
                    <span class="note-color subject-list-alttitle">{{ . }}</span>
                    {{ end }}
                </h3>
                {{ if .Creator }}
                <p class="subject-list-pub"><label>{{ .CreatorLabel }}:</label>{{ .Creator }}</p>
                {{ end }}
                {{ if .PubDate }}
                <p><label>{{ .PubDateLabel }}:</label>{{ .PubDate }}</p>
                {{ end }}
                <p class="note-color">
                    {{ if eq .Rating 0 }}
                    <i>暂未评分</i>
                    {{ else }}
                    {{ $star := div (mul .Rating 10) 2 }}
                    <span class="rating-star-{{ $star }} rating-block note-color"></span>
                    {{ end }}
                </p>
                <p>{{ .MarkDate }} {{ .StatusText }}</p>
            </div>
        </li>
        {{ else }}
        <div class="subject-list-null note-color"><i>暂无{{ .PageTitle }}。</i></div>
        {{ end }}
    </ul>

    {{ if gt .TotalPages 1 }}
    <div class="pagination">

    {{ if gt .CurrentPage 1 }}
        <a class="pagination-number padding-0" href="?page=1{{ .PageParams }}">首页</a>
        <a class="pagination-number" href="?page={{ sub .CurrentPage 1 }}{{ .PageParams }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="8" viewBox="0 0 8 12" fill="currentColor"><path d="M7.41 1.41L6 0 0 6l6 6 1.41-1.41L2.83 6z" fill-rule="evenodd"/></svg>
        </a>
    {{ else }}
        <span class="pagination-disable padding-0">首页</span>
        <span class="pagination-disable">
            <svg xmlns="http://www.w3.org/2000/svg" width="8" viewBox="0 0 8 12" fill="var(--note-color)"><path d="M7.41 1.41L6 0 0 6l6 6 1.41-1.41L2.83 6z" fill-rule="evenodd"/></svg>
        </span>
    {{ end }}

    {{ range .PageNumbers }}
        {{ if eq . $.CurrentPage }}
        <span class="pagination-current">{{ . }}</span>
        {{ else }}
        <a class="pagination-number" href="?page={{ . }}{{ $.PageParams }}">{{ . }}</a>
        {{ end }}
    {{ end }}

    {{ if lt .CurrentPage .TotalPages }}
        <a class="pagination-number icon-mirror" href="?page={{ add .CurrentPage 1 }}{{ .PageParams }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="8" viewBox="0 0 8 12" fill="currentColor"><path d="M7.41 1.41L6 0 0 6l6 6 1.41-1.41L2.83 6z" fill-rule="evenodd"/></svg>
        </a>
        <a class="pagination-number padding-0" href="?page={{ .TotalPages }}{{ .PageParams }}">尾页</a>
    {{ else }}
        <span class="pagination-disable icon-mirror">
            <svg xmlns="http://www.w3.org/2000/svg" width="8" viewBox="0 0 8 12" fill="var(--note-color)"><path d="M7.41 1.41L6 0 0 6l6 6 1.41-1.41L2.83 6z" fill-rule="evenodd"/></svg>
        </span>
        <span class="pagination-disable padding-0">尾页</span>
    {{ end }}

        <form method="get" class="pagination-jump" style="display: inline;">
            <input type="text" inputmode="numeric" pattern="\d*" name="page" />
            <input type="hidden" name="status" value="{{ .Status }}">
            <input type="hidden" name="sort_by" value="{{ .SortBy }}">
            <span class="note-color">({{ .CurrentPage }} / {{ .TotalPages }})</span>
        </form>
    </div>
    {{ end }}

</main>
{{ end }}
