{{ define "main" }}
<main>
    <h1 class="page-heading">👋 {{ .Today }}</h1>
    <section class="home-section">
        <div class="page-heading">
            <a href="/book"><h2>最近图书</h2></a>
            {{ if not .FewBooks }}
            <a class="home-add" href="/add?subject_type=book">添加图书+</a>
            {{ end }}
        </div>
        <div class="home-list">
            {{ if .FewBooks }}
            <div class="home-item">
                <a href="/add?subject_type=book">
                <div class="home-item-cover add-selection">
                    <img src="/static/icons/icon-book.svg" alt="book" width="50" height="50">
                    <div class="home-item-name note-color">添加图书</div>
                </div>
                </a>
            </div>
            {{ end }}
            {{ range .RecentBooks  }}
            <div class="home-item">
                <div class="home-item-cover">
                    {{ if .IsDoing }}
                    <span class="item-badge"></span>
                    {{ end }}
                    <a href='{{ .SubjectURL }}'>
                        <img class="home-item-img" src="{{ .ImageURL }}" loading="lazy">
                    </a>
                </div>
                <div class="home-item-name">{{ .Title }}</div>
            </div>
            {{ end }}
        </div>
    </section>

    <section class="home-section">
        <div class="page-heading">
            <a href="/movie"><h2>最近电影</h2></a>
            {{ if not .FewMovies }}
            <a class="home-add" href="/add?subject_type=movie">添加电影+</a>
            {{ end }}
        </div>
        <div class="home-list">
            {{ if .FewMovies }}
            <div class="home-item">
                <a href="/add?subject_type=movie">
                <div class="home-item-cover add-selection">
                    <img src="/static/icons/icon-movie.svg" alt="movie" width="50" height="50">
                    <div class="home-item-name note-color">添加电影</div>
                </div>
                </a> 
            </div>
            {{ end }}
            {{ range .RecentMovies  }}
            <div class="home-item">
                <div class="home-item-cover">
                    {{ if .IsDoing }}
                    <span class="item-badge"></span>
                    {{ end }}
                    <a href='{{ .SubjectURL }}'>
                        <img class="home-item-img" src="{{ .ImageURL }}" loading="lazy">
                    </a>
                </div>
                <div class="home-item-name">{{ .Title }}</div>
            </div>
            {{ end }}
        </div>
    </section>

    <section class="home-section">
        <div class="page-heading">
            <a href="/tv"><h2>最近剧集</h2></a>
            {{ if not .FewTVs }}
            <a class="home-add" href="/add?subject_type=tv">添加剧集+</a>
            {{ end }}
        </div>
        <div class="home-list">
            {{ if .FewTVs }}
            <div class="home-item">
                <a href="/add?subject_type=tv">
                    <div class="home-item-cover add-selection">
                        <img src="/static/icons/icon-tv.svg" alt="tv" width="50" height="50">
                        <div class="home-item-name note-color">添加剧集</div>
                    </div>
                </a>
            </div>
            {{ end }}
            {{ range .RecentTVs  }}
            <div class="home-item">
                <div class="home-item-cover">
                    {{ if .IsDoing }}
                    <span class="item-badge"></span>
                    {{ end }}
                    <a href='{{ .SubjectURL }}'>
                        <img class="home-item-img" src="{{ .ImageURL }}" loading="lazy">
                    </a>
                </div>
                <div class="home-item-name">{{ .Title }}</div>
            </div>
            {{ end }}
        </div>
    </section>

    <section class="home-section">
        <div class="page-heading">
            <a href="/anime"><h2>最近番剧</h2></a>
            {{ if not .FewAnimes }}
            <a class="home-add" href="/add?subject_type=anime">添加番剧+</a>
            {{ end }}
        </div>
        <div class="home-list">
            {{ if .FewAnimes }}
            <div class="home-item">
                <a href="/add?subject_type=anime">
                    <div class="home-item-cover add-selection">
                        <img src="/static/icons/icon-anime.svg" alt="anime" width="50" height="50">
                        <div class="home-item-name note-color">添加番剧</div>
                    </div>
                </a>
            </div>
            {{ end }}
            {{ range .RecentAnimes  }}
            <div class="home-item">
                <div class="home-item-cover">
                    {{ if .IsDoing }}
                    <span class="item-badge"></span>
                    {{ end }}
                    <a href='{{ .SubjectURL }}'>
                        <img class="home-item-img" src="{{ .ImageURL }}" loading="lazy">
                    </a>
                </div>
                <div class="home-item-name">{{ .Title }}</div>
            </div>
            {{ end }}
        </div>
    </section>

    <section class="home-section">
        <div class="page-heading">
            <a href="/game"><h2>最近游戏</h2></a>
            {{ if not .FewGames }}
            <a class="home-add" href="/add?subject_type=game">添加游戏+</a>
            {{ end }}
        </div>
        <div class="home-list">
            {{ if .FewGames }}
            <div class="home-item">
                <a href="/add?subject_type=game">
                    <div class="home-item-cover add-selection">
                        <img src="/static/icons/icon-game.svg" alt="game" width="50" height="50">
                        <div class="home-item-name note-color">添加游戏</div>
                    </div> 
                </a>
            </div>
            {{ end }}
            {{ range .RecentGames  }}
            <div class="home-item">
                <div class="home-item-cover">
                    {{ if .IsDoing }}
                    <span class="item-badge"></span>
                    {{ end }}
                    <a href='{{ .SubjectURL }}'>
                        <img class="home-item-img" src="{{ .ImageURL }}" loading="lazy">
                    </a>
                </div>
                <div class="home-item-name">{{ .Title }}</div>
            </div>
            {{ end }}
        </div>
    </section>
</main>
{{ end }}
